body {
    margin: 0;
}
#mainDiv {
    width: 100%;
    padding: 8% 8% 0 8%;
    box-sizing: border-box;
}
.wrapper {
    margin-bottom: 100px;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card-wrapper {
    margin: 8px;
    box-shadow: 1px 1px 4px grey;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.img {
    width: 100%;
}
.name{
    padding-left: 5px;
}
.para {
    padding-left: 5px;
}
.price {
    padding-left: 5px;
    color: teal;
}